/*폰트 파일*/
/* 한글 폰트 */
@font-face {
    /* 지마켓 산스 라이트 */
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* 지마켓 산스 미디엄 */
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* 지마켓 산스 볼드  */
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    /* 영어 폰트 다래손글씨체 */
    font-family: 'drfont_daraehand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


html {
    /* 폰트 크기 줄간격 수정해야함 */
    font-size: 18px;
    line-height: 32px;
}

/*바디 설정*/
body {
    background-color: #f7f6f7;
    /*풀화면 적용*/
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: block;
    /*블럭으로 배치*/
    text-align: center;
    /*가운데 정렬 아래 inline-block랑 한세트*/
    font-family: 'GmarketSansMedium'
}

/*헤더 타이틀 메인 푸터 블록 가운데 정렬 위해*/
#c-header #c-title #c-main #c-contentbox1 #c-footer {
    display: inline-block;
}

/*------------------헤더------------------*/
/*헤더 안에 로고, 카테고리, 사이드네비, 메뉴버튼있음*/
#c-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    /*상단바 고정용*/
    top: 0;
    height: 83px;
    /*헤더 높이 105고정 위해서*/
    width: 60%;
    /*전체 중 60%만 가로길이 설정*/
    padding: 0 20%;
    /*나머지 40%은 패딩으로 설정*/
    background-color: #f7f6f7;
    /*헤더 배경색*/
    font-family: 'GmarketSansLight';
    z-index: 2;
}

/*로고*/
.logo #a #logo-img {
    width: 117px;
    /*로고영역, 로고이미지, a태그 가로 고정*/
}

.logo {
    cursor: pointer;
    /*마우스 모양은 포인터로*/
}

/*로고 이미지*/
#logo-img {}

/*카테고리 설정*/
.category {
   /*  margin-left: 25%;
    로고랑 카테고리 사이 여백값 */
    display: flex;
    align-items: flex-end;
}

.category .category-text {
    margin: 0 20px;
    /*카테고리끼리 가로 여백*/
    /* font-size: 20px; */
    /*폰트 사이즈 xd 보고 조절하기*/
    font-size: 0.899rem;
    font-family: 'GmarketSansLight';
}

.category .category-text a {
    /*밑줄없이, 검은색*/
    text-decoration: none;
    color: black;
}

#selected-category {
    font-family: 'GmarketSansBold';
}

/*메뉴버튼부분*/
#sideNav {
    widows: 420px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -420px;
    background-color: #E6E8E9;
    /*변경 가능*/
    opacity: 70%;
    z-index: 2;
    transition: .5s;
    font-family: 'GmarketSansMedium';
}

ul {
    margin-top: 100px;
    /*메뉴 버튼이랑 메뉴 사이의 세로 여백*/
}

nav ul li {
    text-align: left;
    /*왼쪽 정렬*/
    list-style: none;
    /*글자만 나오게*/
    margin-right: 150px;
    /*오른쪽 여백*/
    margin-top: 50px;
    /*세로간격*/
    font-size: 20px;
    /*변경 가능*/
}

nav ul li a {
    text-decoration: none;
    color: black;
}

/*메뉴버튼*/
#menuBtn {
    width: 21px;
    /*최대한 맞춰봄*/
    z-index: 2;
    cursor: pointer;
}

/*------------------헤더 끝------------------*/

/*----------------타이틀 부분----------------*/
#c-title {
    margin: 5% 0;
    /*타이틀 박스 위 여백 5% 양 옆 여백 15%*/
    padding: 0 15%;
    width: 70%;
}

/*뒤에 네모. 마음대로 수정 가능함*/
#c-title::after {
    content: '';
    height: 50%;
    /* height: 561px;   xd 값  */
    width: 100%;
    background: #C2AAD0;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
}

/*타이틀 문구*/
/*페이지 보면서 수정 부탁*/
.title-text {
    /*xd 보고 폰트, 사이즈, 굵기 설정하기*/
    font-size: 33px;
    margin: 3%;
    font-family: 'drfont_daraehand';
}

/*타이틀 이미지*/
#title-img {
    /* width: 786px; xd 값, 비율로 약 50% */
    width: 60%;
    margin: 3%;
}

/*타이틀 설명 텍스트*/
.title-ex {
    margin-bottom: 3%;
    font-size: 1.111rem;

}

/*----------------타이틀 끝----------------*/


/*빈공간*/
#null-area {
    width: 100%;
    height: 50px;
}



/*----------------메인 부분----------------*/
/*  스위치, 보드게임, 카트라이더, 어몽어스 */
#c-contentsbox1 {
    /* 그리드 맞춰서 양 옆 패딩 15%로 설정 */
    margin: 3% 0;
    padding: 0 15%;
    width: 70%;

}

/* 보라색 서브타이틀 */
.subtitle {
    width: 55%;
    display: inline-block;
    /* 가운데 정렬됨 */
    line-height: normal;
    text-align: center;
    margin: 0.5rem;

}

.st {
    font-size: 1.667rem;
    /* 30px */
    background: #C2AAD0;
    padding: 0.3rem;

}

/*  스위치, 보드게임, 카트라이더, 어몽어스 */
.box1 {
    display: flex;
    justify-content: center;
    margin: 5% 0;
    align-items: center;

}

.box1-img {
    width: 40%;
    /* 비율 보고 설정한 값 */
   
    z-index: 1; /* hr보다 위에 올라오기 위해서 설정 */
}

/* 닌텐도 스위치 */
#img1 {
    width: 100%;
   
}

.text-box {
    display: block;
    width: 45%;
    padding: 2% 4%;

}

.box1-title {
    font-family: 'GmarketSansBold';
    font-size: 1.389rem;
    margin-top: -5rem;
    text-align: right;

}

.box1-title .t1 {
    padding-top: 5.5rem;
    /* 이미지랑 높이 맞추기 */
}

.box1-title .line1 {
    margin-top: -1.5rem;
    /* hr소제목 바로 밑으로 */
    margin-left: -10rem;
    /* 사진바로 옆으로 갈 수 있도록 */
    border: 0.15rem solid black;
    background: black;

}

/* 스위치, 카트라이더 설명*/
.box1-text1 {
    padding: 0 0 2% 0;
    /* 상 우 좌 하 */
    font-size: 0.8rem;
    margin-top: -0.6rem;
    text-align: left;
}

/* 보드게임, 어몽어스 */
#img2 {
    width: 100%;
}

.box1-title .t2 {
    padding-top: 4rem;
    /* 간격 띄우기 용 */
    margin-top: 5rem;
    text-align: left;
}

.box1-title .line2 {
    margin-top: -1.5rem;
    margin-right: -4rem;
    border: 0.15rem solid black;
    background: black;
}

/* 보드게임, 어몽어스 설명 */
.box1-text2 {
    padding: 0 0 2% 0;
    /* 상 우 좌 하 */
    margin-left: 5%;
    margin-top: -0.6rem;
    /* 설명 앞 여유 */
    font-size: 0.8rem;
    width: 105%;
    text-align: left;
}

/* 이미지 출처 */
/* 닌텐도, 카트라이더 */
.sub1 {
    font-family: 'GmarketSansLight';
    font-size: 0.7222rem;
    margin: 0;
    padding: 0;
    text-align: left;

}

/* 어몽어스 */
.sub2 {
    font-family: 'GmarketSansLight';
    font-size: 0.7222rem;
    margin: 0;
    padding: 0;
    text-align: right;
}

/*----------------메인 끝-----------------*/

/*----------------탑버튼 부분-----------------*/
#topBtn{
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 5;
    cursor: pointer;
    width: 30px;
}

/*----------------탑버튼 끝-----------------*/

/*----------------푸터 부분---------------*/
#c-footer{
    font-family: 'GmarketSansMedium';
    font-size: 0.6667rem; /* 12px */
    line-height:  1rem; /* 14px */
    margin: 0;
    display: flex;
    padding: 0 15%;
    background: #e9e9e9;
}

.footer-copy{
    text-align: center;
    max-height: 30%;
    padding: 3%;
    margin: 3%;
}
.footer-about{
    text-align: left;
    padding-top: 2%;
    padding-left: 30%;
    display: flex;
}
.about1{
    position: absolute;
    margin-top: 0;
}

.about2{
    position: absolute;
    margin-top: 3.5%;
}
.about3{
    position: absolute;
    margin: 3.5% 0 0 10%;
}