@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'drfont_daraehand';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/drfont_daraehand.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
    font-size: 18px;
    line-height: 32px;
    font-family: 'GmarketSansMedium';
}



/*바디 설정*/
body{
    margin: 0;
    padding: 0;
    background-color: #f7f6f7;
    width: 100%;
    height: 100%;
    display: block;
    text-align: center;
}
/*전체 컨테이너*/
.c-container{
    display: block;
    text-align: center;
}
/*헤더 타이틀 메인 푸터 블록 정렬 위해*/
.c-header .c-title .c-main .c-footer{
    display: inline-block;
}
/*------------------헤더------------------*/
.c-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 60%;
    height: 83px;
    background-color: #f7f6f7;
    padding: 0 20%
}
/*로고*/
.logo{
    cursor: pointer;
}
/*로고 이미지*/
#logo-img{
    height: 50px;
}

/*카테고리 설정*/
.category {
    margin-left: 40%;
    /*로고랑 카테고리 사이 여백값*/
    display: flex;
    align-items: flex-end;
}

.category .category-text {
    margin: 0 20px;
    /*카테고리끼리 가로 여백*/
    /* font-size: 20px; */
    /*폰트 사이즈 xd 보고 조절하기*/
    font-size: 0.899rem;
    font-family: 'GmarketSansLight';
}

.category .category-text a {
    /*밑줄없이, 검은색*/
    text-decoration: none;
    color: black;
}

#selected-category {
    font-family: 'GmarketSansBold';
}

/*메뉴버튼부분*/
#sideNav{
    widows: 420px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -420px;
    background-color: #E6E8E9;    /*변경 가능*/
    opacity: 70%;
    z-index: 2;
    transition: .5s;
}
ul{
    margin-top: 100px;    /*메뉴 버튼이랑 메뉴 사이의 세로 여백*/
}
nav ul li{
    text-align: left;    /*왼쪽 정렬*/
    list-style: none;    /*글자만 나오게*/
    margin-right: 150px; /*오른쪽 여백*/
    margin-top: 50px;    /*세로간격*/
    font-size: 20px;     /*변경 가능*/
}
nav ul li a{
    text-decoration: none;
    color: black;
}
/*메뉴버튼*/
#menuBtn{
    width: 21px;        /*최대한 맞춰봄*/
    z-index: 2;
    cursor: pointer;
}
/*------------------헤더 끝------------------*/

/*----------------타이틀 부분----------------*/
.c-title{
    margin: 5% 15%;
    /*background-color: aliceblue;*/        /*테스트용임 지우기*/
}
/*뒤에 파란색 네모*/
.c-title::after{
    content: '';
    height: 50%;
    width: 100%;
    background: #C7E3E7;
    position: absolute;
    top: 70px;
    left: 0;
    z-index: -1;
}
/*타이틀 문구*/
.title-text{
    /*xd 보고 폰트, 사이즈, 굵기 설정하기*/
    font-size: 2.0em;
    font-weight: bold;
    margin: 3%
}
/*타이틀 이미지*/
#title-img{
    width: 50%;
    margin: 3%;
}
/*타이틀 설명 텍스트*/
.title-ex{
    margin-bottom: 3%
}
/*버튼*/
.btn{
    margin: 20px 10px;
    padding: 15px 0;
}
.btn a{
    width: 20%;
    text-decoration: none;
    display: inline-block;
    margin: 0 20px;
    /*padding: 10px 0;*/
    padding-top: 0.8rem;
    padding-bottom: 0.6rem;
    color: black;
    border: .5px solid black;
    transition: 0.3s;
    font-size: 0.875rem;
    line-height: 0.9rem;
}
.btn a:hover{
    background: #C7E3E7;
    border: .5px solid #C7E3E7;
}

/*탑 버튼*/
#topBtn{
    position: fixed;
    bottom: 10%;
    right: 10%;
    z-index: 5;
    cursor: pointer;
    width: 30px;
}
/*----------------타이틀 끝----------------*/

/*----------------메인 부분----------------*/
.c-main{
    margin-left: 15%;
    margin-right: 15%;
    /*background-color: beige;*/    /*테스트용*/
    
}

/*두번째 디자인*/
.line2{
    display: block;
    text-align: center;
    margin: 30px;
}
/*두번째 디자인 서브타이틀*/
.subtitle2{
    width: 55%;
    background: #C7E3E7;
    display: inline-block;
    margin: 3rem;
}

/*세번째 디자인*/
.line3{
    display: block;
    text-align: center;
    margin: 30px;
}
/*세번째 디자인 박스*/
.box2{
    text-align: center;
}
/*세번째 디자인 박스 내 텍스트*/
.box2-in{
    display: inline-block;
    vertical-align: top;
    width: 42%;
    height: 15rem;
    margin: 1%;
    padding: 0 1%;
    background: #eaeaea;
}


/*일곱번째 디자인*/
.line7{
    text-align: center;
    margin: 30px; 	
}
/*일곱번째 디자인 박스*/
.box5{
    display: flex;
    justify-content: space-around;
}
.box5-1{
    display: flex;
    justify-content: center;
}
/*일곱번째 디자인 서브타이틀*/
.subtitle3{
    width: 20%;
    background: #E6E8E9;
    display: inline-block;
    margin: 1%;
    padding: 0.3rem;
}


/*----------------메인 끝-----------------*/

/*----------------푸터 부분---------------*/
#c-footer{
    font-family: 'GmarketSansMedium';
    font-size: 0.6667rem; /* 12px */
    line-height:  1rem; /* 14px */
    margin: 0;
    display: flex;
    padding: 0 15%;
    background: #e9e9e9;
}

.footer-copy{
    text-align: center;
    max-height: 30%;
    padding: 3%;
    margin: 3%;
}
.footer-about{
    text-align: left;
    padding-top: 2%;
    padding-left: 30%;
    display: flex;
}
.about1{
    position: absolute;
    margin-top: 0;
}

.about2{
    position: absolute;
    margin-top: 3.5%;
}
.about3{
    position: absolute;
    margin: 3.5% 0 0 10%;
}